@model website.Models.Book

@{
    ViewBag.Title = "R_Book";
}


<div id="onlineBookStore_container">
    <div id="onlineBookStore_menu">
        <ul>
            <li><a href="~/Home/home">Home</a></li>
            <li><a href="~/Home/index3">About us</a></li>
            <li><a href="~/Client/books">Books</a></li>
            <li><a href="~/Admin/Menu">Menu</a></li>
            <li><a href="~/Admin/signout">Sign out</a></li>
            <li><a href="~/Client/advance">Advanced Search </a></li>

        </ul>
        <form class="navbar-form" method="post" action="/Client/search">
            <select name=" type" size="1">

                <option value="Publisher">Publisher</option>

                <option value="Name" selected>Title /Book Name</option>

                <option value="Author">Author /Writer</option>

                <option value="Price">Price</option>

                <option value="Catagory">Catagory</option>

            </select>
            <input type="search" value="" name="search" />
            <input type="submit" value="search" />
        </form>
    </div> <!-- end of menu -->
    @Html.Partial("/Views/Shared/_title.cshtml")


    <div id="onlineBookStore_content">

        @Html.Partial("/Views/Shared/_centerLayout.cshtml")


        <div id="onlineBookStore_content_right">

            <div class="onlineBookStore_add_book">

                <h1> Delete a Book</h1>
                @*<form method="post" action="/Admin/del_b">*@



                @*@foreach (var b in Model)
                     {
                         <table border="1">
                             <tr>
                                 <td>@b.Id</td>
                                 <td>@b.Name</td>
                                 <td>@b.Quantity</td>
                                 <td>@b.Catagory</td>
                                 <td>@b.Price</td>
                                 <td><a href="~/Admin/delete">Delete</a></td>
                             </tr>


                         </table>

                    }*@
                @using (Html.BeginForm("Remove_Book", "Client", FormMethod.Post))
                {
                    @Html.HiddenFor(m => m.Id)
                    <label> Are you Sure you want to delete this book from Cart ?</label>

                    <input type="submit" value="Delete" />
                }







            </div>
        </div> <!-- end of content right -->

        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    @Html.Partial("/Views/Shared/_footer.cshtml")




</div> <!-- end of container -->
