@model website.Models.Customer

@{
    ViewBag.Title = "SignUp";
}




    <div id="onlineBookStore_container">
        <div id="onlineBookStore_menu">
            <ul>
                <li><a href="~/Home/home">Home</a></li>
                <li><a href="~/Home/index3">About us</a></li>
                <li><a href="~/Client/books">Books</a></li>
                <li><a href="~/Client/shopping">Shopping</a></li>
                @*<li>(@ViewBag["Cart"])</li>*@
                @*<li><a href="#"> Cart(@ViewData["Cart"]) </a> </li>*@
                <li><a href="~/Home/contact">Contact</a></li>
                <li><a href="~/Client/advance">Advanced Search </a></li>

            </ul>
            <form class="navbar-form" method="post" action="/Client/search">
                <select name=" type" size="1">

                    <option value="Publisher">Publisher</option>

                    <option value="Name" selected>Title /Book Name</option>

                    <option value="Author">Author /Writer</option>

                    <option value="Price">Price</option>

                    <option value="Catagory">Catagory</option>

                </select>
                <input type="search" value="" name="search" />
                <input type="submit" value="search" />
            </form>
        </div> <!-- end of menu -->

        @Html.Partial("/Views/Shared/_title.cshtml")




        <div id="onlineBookStore_content">

            @Html.Partial("/Views/Shared/_centerLayout.cshtml")




            <div id="onlineBookStore_content_right" style=" background-color: #4b4743">

                <h1> Start shopping now...</h1>
                <h2 background-image:url(~image=background-image:url(~/image/onlineBookStore_h1_bg.jpg))> Login First</h2>
                <section class="container">
                    <div  class="login">
                        <h1>Login </h1>
                        <form method="post" action="/Client/Sign">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)

                            
                                <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
                                <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

                                @*<p><input type="text" name="Name" value="" placeholder="Username" /></p>*@
                                <div>

                                    Name:<br/> <input type="text" name="Name" id="Name" /> 



                                    <input type="button" id="b1" value="Check" />
                                    @Html.ValidationMessageFor(model => model.Name)


                                    <div id="result"></div>
                                    @Scripts.Render("~/bundles/jquery")
                                    <script>

                                        $(document).ready(function () {

                                            $('#checking').hide();

                                            $('#b1').click(function () {

                                                var userName = $('#Name').val();


                                                $('#checking').show();
                                                $.getJSON("/Client/CheckUserName?Name=" + userName, function (data) {

                                                    $('#checking').hide();
                                                    if (data == true) {
                                                        $('#result').text("User already exists in database");

                                                    }
                                                    else {
                                                        $('#result').text("User Name is available");
                                                    }
                                                });

                                            });

                                        });
                                    </script>
                                </div>
                                <br />
                                Password:<br />  <input type="password" name="Password" value="" placeholder="Password" /><br />
                                @Html.ValidationMessageFor(model => model.Password)

                                Email: <br /> <input type="text" name="Email" value="" placeholder="Enter Email here" /><br />
                                @Html.ValidationMessageFor(model => model.Email)


                                Contact No:<br /><input type="text" name="Phone" value="" placeholder="Contact #" /><br />
                                @Html.ValidationMessageFor(model => model.Phone)


                                Address:<br /> <input type="text" name="Address" value="" placeholder="Your Address" /><br />
                                @Html.ValidationMessageFor(model => model.Address)

                            </>


                                <p class="submit"><input type="submit" name="commit" value="Sign Up" /></p>
                                
</form>
                    </div>

                   
                </section>




            </div> <!-- end of content right -->

            <div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of content -->

        @Html.Partial("/Views/Shared/_footer.cshtml")




    </div> <!-- end of container -->




