@{
    ViewBag.Title = "contact";
}
@*@model website.Models.Books*@



    <!--  Free CSS Templates from www.onlineBookStore.com -->
    <div id="onlineBookStore_container">
    <div id="onlineBookStore_menu">
        <ul>
            <li><a href="~/Home/home">Home</a></li>
            <li><a href="~/Home/index3">About us</a></li>
            <li><a href="~/Client/books">Books</a></li>
            <li><a href="~/Client/shopping">Shopping</a></li>
            <li><a href="~Admin/login">Login</a></li>
            <li><a href="~/Home/contact">Contact</a></li>
            <li><a href="~/Home/advance">Advanced Search </a></li>
            
            


        </ul>
        <form class="navbar-form" method="post" action="/Client/search">
            <select name=" type" size="1">

                <option value="Publisher">Publisher</option>

                <option value="Name" selected>Title /Book Name</option>

                <option value="Author">Author /Writer</option>

                <option value="Price">Price</option>

                <option value="Catagory">Catagory</option>

            </select>
            <input type="search" value="" name="search" />
            <input type="submit" value="search" />
        </form>
    </div> <!-- end of menu -->
    @Html.Partial("/Views/Shared/_title.cshtml")

    <div id="onlineBookStore_content">

        @Html.Partial("/Views/Shared/_centerLayout.cshtml")
        <div id="onlineBookStore_content_right">

            <h1> Submit your Feedback/Suggestions here...</h1>
            <h2> Feedback</h2>
            <form action="/Home/add_contact" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                Your name: <br />
                <input type="text" name="Name" placeholder="Your name" /><br />
                <br />

                Your email: <br />
                <input type="text" name="Email" placeholder="Email" /><br />
                <br />

                Your comments: <br />
                <textarea name="Message" rows="15" cols="50" placeholder="Message..."></textarea><br /><br />

                <input type="submit" value="Submit" />

            </form>



            <br /> <br />

        </div> <!-- end of content right -->

        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    @Html.Partial("/Views/Shared/_footer.cshtml")

</div> <!-- end of container -->



