@{
    ViewBag.Title = null;
}

<div>success</div>

@*@*@model website.Models.Books*@
 @using website.Models

    <div id="onlineBookStore_container">
   
        <div id="onlineBookStore_menu">
            <ul>
                <li><a href="~/Home/home">Home</a></li>
                <li><a href="~/Home/index3">About us</a></li>
                <li><a href="~/Client/shopping">Shopping</a></li>
                <li><a href="~/Admin/login">Login</a></li>
                <li><a href="~/Home/contact">Contact</a></li>
                <li><a href="~/Client/SignUp">Sign Up </a></li>
                <li><a href="~/Home/advance">Advanced Search </a></li>
            </ul>
            <form class="navbar-form" method="post" action="/Client/search">
                <select name="Type">

                    <option value="Publisher">Publisher</option>

                    <option value="Name" selected>Title /Book Name</option>

                    <option value="Author">Author /Writer</option>

                    <option value="Price">Price</option>

                    <option value="Catagory">Catagory</option>

                </select>
                <input type="search" value="" name="search" />
                <input type="submit" value="search" />
            </form>

        </div> <!-- end of menu -->

@Html.Partial("/Views/Shared/_title.cshtml")

        <div id="onlineBookStore_content">

            @Html.Partial("/Views/Shared/_centerLayout.cshtml")




            <div id="onlineBookStore_content_right">
                <h3>Catagories of Books Available</h3>

            @foreach (var b in Model) {
               
                <div class="onlineBookStore_product_box">
                    <h1>@b.Name</h1>
                    <img src="@Url.Content("~/image/"+b.Name+".jpg")" alt="image" />
                    <div class="product_info">
                        <p>Click here to buy...</p>
                        <div class="buy_now_button"><a href="~/Client/shopping">Buy Now</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                    
                </div>
                
            }
                <div class="cleaner_with_width">&nbsp;</div>
               <br/> <br/>

                <h3>Publishers Books Available</h3>
                @foreach (var b in ViewBag.Pub)
                {

                    <div class="onlineBookStore_product_box">
                        <h1>@b.Name</h1>
                        <img src="@Url.Content("~/image/"+b.Name+".jpg")" alt="image" />
                        
                        <div class="cleaner">&nbsp;</div>

                    </div>

                }

                <div class="cleaner_with_width">&nbsp;</div>


            </div> <!-- end of content right -->

            <div class="cleaner_with_height">&nbsp;</div>
        </div> <!-- end of content -->

            @Html.Partial("/Views//Shared/_footer.cshtml")

       
    </div> <!-- end of container -->*@

   
   
